<?xml version="1.0" ?>
<robot name="basic_shapes" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <xacro:arg name="laser_visual" default="true"/>

  <xacro:property name="update_rate" value="10" />

  <xacro:property name="standard_friction" value="0.2" />
  <xacro:property name="wheel_friction" value="10000.0" />
  <xacro:property name="sliding_friction" value="0.1" />

    <xacro:macro name="gazebo_params" params="name rgb friction">
        <gazebo reference="${name}">
            <material>Gazebo/${rgb}</material>
            <mu1>${friction}</mu1>
            <mu2>${friction}</mu2>
            <kp value="10000000.0" />
            <kd value="1.0" />
        </gazebo>
    </xacro:macro>

  <!-- Gazebo plugin for ROS Control -->
  <!-- <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo> -->


  <!-- <gazebo reference="front_lidar">
    <material>Gazebo/FlatBlack</material>
    <sensor type="ray" name="lds_lfcd_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>5</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>180</samples>
            <resolution>1</resolution>
            <min_angle>${-M_PI_2} </min_angle>
            <max_angle>${M_PI_2}</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.120</min>
          <max>3.5</max>
          <resolution>0.015</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_lds_lfcd_controller" filename="libgazebo_ros_laser.so">
        <topicName>scan/front</topicName>
        <frameName>front_lidar</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo reference="back_lidar">
    <material>Gazebo/FlatBlack</material>
    <sensor type="ray" name="lds_lfcd_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>5</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>180</samples>
            <resolution>1</resolution>
            <min_angle>${M_PI_2} </min_angle>
            <max_angle>${-M_PI_2}</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.120</min>
          <max>3.5</max>
          <resolution>0.015</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_lds_lfcd_controller" filename="libgazebo_ros_laser.so">
        <topicName>scan/back</topicName>
        <frameName>back_lidar</frameName>
      </plugin>
    </sensor>
  </gazebo> -->

  
</robot>