<?xml version="1.0"?>
<robot name="basic_shapes" xmlns:xacro="http://wiki.ros.org/xacro">

    <!-- basic shapes -->
    <xacro:include filename="$(find urdf_basic_shapes)/urdf/basic_shapes.urdf.xacro"/>
    

    <link name="base_footprint"/>

    <!-- cubeical base_link -->
    <xacro:cube name="base_link" x="2" y="1" z="1" ori="-.5 0 .5" rpy="0 0 0" rgb="Green" m="2" friction="${standard_friction}"/>
    <joint name="cube1_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 0.2" rpy="0 0 0"/>
    </joint>

    <!-- ball  -->
    <xacro:ball name="ball1" r="0.5" ori="0 0 0" rpy="0 0 0" rgb="Blue" m=".5" friction="${standard_friction}"/>
    <joint name="joint_ball1" type="fixed">
        <parent link="base_link"/>
        <child link="ball1"/>
        <origin xyz="0 0 1" rpy="0 0 0"/>
    </joint>

    <!-- cylinder -->
    <xacro:cylinder_shape name="cylinder1" r="0.5" h="1" ori="0 0 0" rpy="0 0 0" rgb="Black" m=".5" friction="${standard_friction}"/>
    <joint name="joint_cylinder1" type="fixed">
        <parent link="base_link"/>
        <child link="cylinder1"/>
        <origin xyz="0 0 2" rpy="0 0 3.1416"/>
    </joint>

    <!-- diff drive -->
    <!-- the parent link should be the center of wheel axis -->
    <xacro:include filename="$(find urdf_basic_shapes)/urdf/diff_wheel.urdf.xacro"/>
    <xacro:diff_wheel wheeldiam="0.4" wheel_separation="1.2" parent="base_link" friction="200" rgb="Grey" h=".1"/>

    <!-- caster wheel -->
    <xacro:ball name="casterwheel" r="0.2" ori="0 0 0" rpy="0 0 0" rgb="Grey" m=".5" friction="${sliding_friction}"/>
    <joint name="joint_casterwheel" type="fixed">
        <parent link="base_link"/>
        <child link="casterwheel"/>
        <origin xyz="-1 0 0" rpy="0 0 0"/>
    </joint>

    <!-- rplidar -->
    <xacro:include filename="$(find urdf_basic_shapes)/sensors/rplidar.urdf.xacro"/>
    <xacro:rplidar name="rplidar" xyz="-1 0 1.02" rpy="0 0 0" parent="base_link" topic="rplidar/scan"/>
    
    <!-- Hokuyo Laser -->
    <xacro:include filename="$(find urdf_basic_shapes)/sensors/hokuyo.urdf.xacro"/>
    <xacro:hokuyo name="hokuyo_scan" xyz="-1 0 2.05" rpy="0 0 0" parent="base_link" min_a="${-pi/2}" max_a="${pi/2}"/>

    <!-- Veldoyne Lidar  -->
    <xacro:include filename="$(find urdf_basic_shapes)/sensors/velodyne.urdf.xacro"/>
    <xacro:velodyne16 name="velodyne" xyz="-1 0 1.5" rpy="0 0 0" parent="base_link"/>

    <!-- imu -->
    <xacro:include filename="$(find urdf_basic_shapes)/sensors/imu.urdf.xacro"/>
    <xacro:imu name="imu" xyz="0 0 .5" rpy="0 0 0" parent="base_link"/>

</robot>