<?xml version="1.0"?>
<robot name="deliverybot" xmlns:xacro="http://wiki.ros.org/xacro">

    <!-- basic shapes -->
    <xacro:include filename="$(find urdf_basic_shapes)/urdf/basic_shapes.urdf.xacro"/>
    <!-- diff_wheel -->
    <xacro:include filename="$(find urdf_basic_shapes)/urdf/diff_wheel.urdf.xacro"/>
    <!-- hokuyo -->
    <xacro:include filename="$(find urdf_basic_shapes)/sensors/hokuyo.urdf.xacro"/>
    

    <link name="base_footprint"/>

    <!--cylinder base_link -->
    <xacro:cylinder_shape name="base_link" r="0.3" h="1" ori="0 0 .8" rpy="0 0 0" rgb="White" m="10" friction="${standard_friction}"/>
    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 0.08" rpy="0 0 0"/>
    </joint>

    <!-- cubic screen -->
    <xacro:cube name="screen" x=".15" y=".3" z=".4" ori=".25 0 1" rpy="0 0 0" rgb="Blue" m="1" friction="${standard_friction}"/>
    <joint name="screen_joint" type="fixed">
        <parent link="base_link"/>
        <child link="screen"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- cubic butt -->
    <xacro:cube name="butt" x=".4" y=".5" z=".4" ori="0 0 0" rpy="0 0 0" rgb="White" m="1" friction="${standard_friction}"/>
    <joint name="butt_joint" type="fixed">
        <parent link="base_link"/>
        <child link="butt"/>
        <origin xyz="-.1 0 0.2" rpy="0 0 0"/>
    </joint>

    <!-- Head  -->
    <xacro:ball name="head" r="0.3" ori="0 0 0" rpy="0 0 0" rgb="White" m="1" friction="${standard_friction}"/>
    <joint name="joint_head" type="fixed">
        <parent link="base_link"/>
        <child link="head"/>
        <origin xyz="0 0 1.3" rpy="0 0 0"/>
    </joint>

    <!-- diff drive -->
    <!-- the parent link should be the center of wheel axis -->
    <xacro:diff_wheel wheeldiam="0.16" h=".05" wheel_separation=".6" parent="base_link" friction="200" rgb="Black"/>

    <!-- caster wheel back -->
    <xacro:ball name="casterwheel_back" r="0.08" ori="0 0 0" rpy="0 0 0" rgb="Grey" m=".1" friction="${sliding_friction}"/>
    <joint name="joint_casterwheel_back" type="fixed">
        <parent link="base_link"/>
        <child link="casterwheel_back"/>
        <origin xyz="-.25 0 -.0" rpy="0 0 0"/>
    </joint>
    <!-- caster wheel front -->
    <xacro:ball name="casterwheel_front" r="0.08" ori="0 0 0" rpy="0 0 0" rgb="Grey" m=".1" friction="${sliding_friction}"/>
    <joint name="joint_casterwheel_front" type="fixed">
        <parent link="base_link"/>
        <child link="casterwheel_front"/>
        <origin xyz=".25 0 -.0" rpy="0 0 0"/>
    </joint>

    
    <!-- Hokuyo Laser -->
    <xacro:hokuyo name="base_scan" xyz=".25 0 .25" rpy="${pi} 0 0" parent="base_link" topic="scan"/>




</robot>