<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diff_drive_bot">
    
    <xacro:include filename="$(find urdf_basic_shapes)/urdf/basic_shapes.urdf.xacro"/>

    <link name="base_footprint"/>
    
    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0.0 0.0 0.1" rpy="0.0 0.0 0.0"/>
    </joint>
    
    <link name="base_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://urdf_basic_shapes/meshes/intel_d435.dae" scale="1.0 1.0 1.0"/>
            </geometry>
            <material name="light_black">
                <color rgba="0.4 0.4 0.4 1.0"/>
            </material>
            
        </visual>
    </link>

    <!-- depth_cam -->
    <xacro:include filename="$(find urdf_basic_shapes)/sensors/depth_cam.urdf.xacro"/>
    <xacro:depth_cam name="camera" xyz="1 0 .5" rpy="0 0 0" parent="base_link"/>
    
</robot>