<?xml version="1.0"?>
<robot name="deliverybot"
    xmlns:xacro="http://wiki.ros.org/xacro">

    <!-- basic shapes -->
    <xacro:include filename="$(find urdf_basic_shapes)/urdf/basic_shapes.urdf.xacro"/>


    <link name="base_footprint"/>

    <!--cubic base_link -->
    <xacro:cube name="base_link" x=".325" y=".66" z="1.350" ori="-.0975 0 .75" rpy="0 0 0" rgb="Blue" m="10" friction="${standard_friction}"/>
    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 .075" rpy="0 0 0"/>
    </joint>

    <!-- cube -->
    <xacro:cube name="cube" x=".490" y=".66" z=".100" ori="-.0175 0 .780" rpy="0 0 0" rgb="Blue" m="10" friction="${standard_friction}"/>
    <joint name="cube_joint" type="fixed">
        <parent link="base_link"/>
        <child link="cube"/>
        <origin xyz="0 0 0.075" rpy="0 0 0"/>
    </joint>

    <!-- cylinder -->
    <xacro:cylinder_shape name="cylinder" r="0.025" h=".100" ori="0 0 0" rpy="0 0 0" rgb="Grey" m=".1" friction="${standard_friction}"/>
    <joint name="joint_cylinder" type="fixed">
        <parent link="base_link"/>
        <child link="cylinder"/>
        <origin xyz="0 0 1.43" rpy="0 0 0"/>
    </joint>

    <!-- hands -->
    <xacro:cube name="handR" x=".6365" y=".171" z=".175" ori="-${.6365/2}  0 ${.175/2}" rpy="0 0 0" rgb="Blue" m="10" friction="${standard_friction}"/>
    <joint name="handR_joint" type="fixed">
        <parent link="base_link"/>
        <child link="handR"/>
        <origin xyz="-.2475 -.3775 0.575" rpy="0 0 0"/>
    </joint>
    <xacro:cube name="handL" x=".6365" y=".171" z=".175" ori="-${.6365/2} 0 ${.175/2}" rpy="0 0 0" rgb="Blue" m="10" friction="${standard_friction}"/>
    <joint name="handL_joint" type="fixed">
        <parent link="base_link"/>
        <child link="handL"/>
        <origin xyz="-.2475 .3775 0.575" rpy="0 0 0"/>
    </joint>

    <!-- tail -->
    <xacro:cube name="tail" x="1.010" y=".2" z=".05" ori="-${1.010/2} 0 0" rpy="0 0 0" rgb="Grey" m="3" friction="${standard_friction}"/>
    <joint name="tail_joint" type="fixed">
        <parent link="base_link"/>
        <child link="tail"/>
        <origin xyz="0 0 0.05" rpy="0 0 0"/>
    </joint>

    <!-- cubic screen -->
    <xacro:cube name="screen" x=".15" y=".4" z=".3" ori="0 0 0" rpy="0 0 0" rgb="Grey" m=".1" friction="${standard_friction}"/>
    <joint name="screen_joint" type="fixed">
        <parent link="base_link"/>
        <child link="screen"/>
        <origin xyz="0 0 1" rpy="0 0 0"/>
    </joint>

    <!-- diff drive -->
    <!-- the parent link should be the center of wheel axis -->
    <xacro:include filename="$(find urdf_basic_shapes)/urdf/diff_wheel.urdf.xacro"/>
    <xacro:diff_wheel wheeldiam="0.145" h=".035" wheel_separation=".7" parent="base_link" friction="2000" rgb="Black" odom_topic="odom" pub_tf="false"/>

    <!-- caster wheel back -->
    <xacro:ball name="casterwheel_back" r="0.04" ori="0 0 0" rpy="0 0 0" rgb="Black" m="1" friction="${sliding_friction}"/>
    <joint name="joint_casterwheel_back" type="fixed">
        <parent link="base_link"/>
        <child link="casterwheel_back"/>
        <origin xyz="-.884 0 -.03" rpy="0 0 0"/>
    </joint>



    <!-- Hokuyo Laser Back-->
    <xacro:include filename="$(find urdf_basic_shapes)/sensors/hokuyo.urdf.xacro"/>
    <xacro:hokuyo name="scan_back" xyz="-1.02147 0 0.0" rpy="${pi} -${pi/30} ${pi}" parent="base_link" min_a="${-pi}" max_a="${pi}" topic="/lidarBack/scan"/>
    <!-- <xacro:hokuyo name="scan_back" xyz="-.9765 0 0" rpy="${pi} 0 ${pi}" parent="base_link" topic="/lidarBack/scan"/> -->
    <!-- Hokuyo Laser Front-->
    <xacro:hokuyo name="scan_front" xyz=".14 0.0 0.23" rpy="0 0 0" parent="base_link" topic="/lidarFront/scan"/>

    <!-- TOP 3D Olei Lidar  -->
    <xacro:include filename="$(find urdf_basic_shapes)/sensors/velodyne.urdf.xacro"/>
    <xacro:velodyne16 name="olei" xyz="0 0 1.515" rpy="0 0 0" parent="base_link"/>
    <!-- add scan topic to velodyne lidar-->
    <!-- <xacro:hokuyo name="olei_lidar" xyz="0 0 1.515" rpy="0 0 0" parent="base_link" min_a="${-pi}" max_a="${pi}" topic="scan"/> -->
    <!-- VERTICAL 3D Olei Lidar  -->
    <!-- <xacro:velodyne16 name="olei_vertical" xyz="0.2 0 1" rpy="0 ${pi*1/4} 0" parent="base_link"/> -->

    <!-- imu -->
    <xacro:include filename="$(find urdf_basic_shapes)/sensors/imu.urdf.xacro"/>
    <xacro:imu name="imu" xyz="0 0 0" rpy="0 0 0" parent="base_link"/>

    <!-- depth_cam -->
    <xacro:include filename="$(find urdf_basic_shapes)/sensors/depth_cam.urdf.xacro"/>
    <xacro:depth_cam name="cameraF"      xyz=".230 0 ${.8540-.075}" rpy="0 0 0" parent="base_link"/>
    <xacro:depth_cam name="cameraF_down" xyz=".140 0 ${.3625-.075}" rpy="-${pi} 0 0" parent="base_link"/>
    <xacro:depth_cam name="cameraL" xyz="0 ${0.71031/2} ${.4275-.075}" rpy="${pi/2} 0 ${pi - 0.610865}" parent="base_link"/>
    <xacro:depth_cam name="cameraR" xyz="0 -${0.71031/2} ${.4275-.075}" rpy="${-pi/2} 0 ${pi + 0.610865}" parent="base_link"/>
    <xacro:depth_cam name="cameraB" xyz="-.3 0 ${.7045-.075}" rpy="0 0 ${pi}" parent="base_link"/>

    <!-- Sonar -->
    <!-- <xacro:include filename="$(find urdf_basic_shapes)/sensors/sonar.urdf.xacro"/>
    <xacro:sonar name="sonarR" xyz="-${1.1-0.00331} -.05 .05" rpy="0 -.0872665 ${pi + 0.174533}" parent="base_link" min_a="-0.05" max_a="0.05" topic="sonarR"/>
    <xacro:sonar name="sonarL" xyz="-${1.1-0.00331} .05 .05" rpy="0 -.0872665 ${pi - 0.174533}" parent="base_link" min_a="-0.05" max_a="0.05" topic="sonarL"/> -->

</robot>