<?xml version="1.0"?>
<robot name="deliverybot" xmlns:xacro="http://wiki.ros.org/xacro">

    <!-- basic shapes -->
    <xacro:include filename="$(find urdf_basic_shapes)/urdf/basic_shapes.urdf.xacro"/>
    <!-- diff_wheel -->
    <xacro:include filename="$(find urdf_basic_shapes)/urdf/diff_wheel.urdf.xacro"/>
    <!-- hokuyo -->
    <xacro:include filename="$(find urdf_basic_shapes)/sensors/hokuyo.urdf.xacro"/>
    <!-- velodyne -->
    <xacro:include filename="$(find urdf_basic_shapes)/sensors/velodyne.urdf.xacro"/>
    

    <link name="base_footprint"/>

    <!--cubeic base_link -->
    <xacro:cube name="base_link" x=".325" y=".78" z="1.226" ori="-.0975 0 .613" rpy="0 0 0" rgb="Blue" m="10" friction="${standard_friction}"/>
    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 0.075" rpy="0 0 0"/>
    </joint>

    <!-- cylinder -->
    <xacro:cylinder_shape name="cylinder" r="0.025" h=".25" ori="0 0 0" rpy="0 0 0" rgb="Grey" m=".1" friction="${standard_friction}"/>
    <joint name="joint_cylinder" type="fixed">
        <parent link="base_link"/>
        <child link="cylinder"/>
        <origin xyz="0 0 1.32" rpy="0 0 0"/>
    </joint>

    <!-- tail -->
    <xacro:cube name="tail" x="1.065" y=".2" z=".05" ori="-0.5325 0 0" rpy="0 0 0" rgb="Grey" m="3" friction="${standard_friction}"/>
    <joint name="tail_joint" type="fixed">
        <parent link="base_link"/>
        <child link="tail"/>
        <origin xyz="0 0 0.05" rpy="0 0 0"/>
    </joint>

    <!-- cubic screen -->
    <xacro:cube name="screen" x=".15" y=".4" z=".3" ori="0 0 0" rpy="0 0 0" rgb="Grey" m=".1" friction="${standard_friction}"/>
    <joint name="screen_joint" type="fixed">
        <parent link="base_link"/>
        <child link="screen"/>
        <origin xyz="0.0 0.1 1" rpy="0 0 0"/>
    </joint>

    <!-- diff drive -->
    <!-- the parent link should be the center of wheel axis -->
    <xacro:diff_wheel wheeldiam="0.14" h=".035" wheel_separation=".78" parent="base_link" friction="200" rgb="Black"/>

    <!-- caster wheel back -->
    <xacro:ball name="casterwheel_back" r="0.04" ori="0 0 0" rpy="0 0 0" rgb="Black" m="1" friction="${sliding_friction}"/>
    <joint name="joint_casterwheel_back" type="fixed">
        <parent link="base_link"/>
        <child link="casterwheel_back"/>
        <origin xyz="-.885 0 -.035" rpy="0 0 0"/>
    </joint>
 

    
    <!-- Hokuyo Laser Back-->
    <xacro:hokuyo name="scan_back" xyz="-1.017 0 0" rpy="${pi} 0 ${pi}" parent="base_link" min_a="${-pi/2}" max_a="${pi/2}"/>

    <!-- Hokuyo Laser Left-->
    <xacro:hokuyo name="scan_left" xyz=".14 0.42 .077" rpy="0 0 0" parent="base_link" min_a="${-pi/2}" max_a="${pi}"/>

    <!-- Hokuyo Laser Right-->
    <xacro:hokuyo name="scan_right" xyz=".14 -0.42 .162" rpy="0 0 0" parent="base_link" min_a="${-pi}" max_a="${pi/2}"/>


    <!-- Veldoyne Lidar  -->
    <xacro:velodyne16 name="velodyne" xyz="0 0 1.392" rpy="0 0 0" parent="base_link"/>


</robot>