<launch>
  <arg name="model" default="basic_example"/>
  <arg name="x_pos" default="0"/>
  <arg name="y_pos" default="0"/>
  <arg name="z_pos" default="0"/>
  <arg name="multi_robot_name" default="/"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- robot model -->
  <param name="robot_description" command="$(find xacro)/xacro $(find urdf_basic_shapes)/examples/$(arg model).urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model $(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />


  <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="$(arg multi_robot_name)"/>
  </node> -->

  <!-- joint controller  -->
  <!-- diff_drive_controller -->
  <rosparam command="load" file="$(find urdf_basic_shapes)/config/diffdrive_tko.yaml" ns="diff_drive_controller" />
  <!-- joint_state publisher -->
  <rosparam command="load" file="$(find urdf_basic_shapes)/config/joints.yaml" ns="joint_state_controller" />
  <!-- ros controller manager -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" args="diff_drive_controller
        joint_state_controller
        --shutdown-timeout 3"/>

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/diff_drive_controller/cmd_vel"/>
  </node>

</launch>
